@charset "utf-8";
/* CSS Document */

.container-main {
	width: 610px;
	display: inline-block;
	margin-top:10px;
}
a {
	color: #F60;
}
a:visited {
	color: #F60;
	text-decoration: none;
}
a:hover {
	color: #F40;
	text-decoration: underline;
}
a:active {
	color: #F60;
	text-decoration: none;
}
a:link {
	text-decoration: none;
}
.dashpost{
	width:600px;
	border:0px solid;
	display:inline-block;
	margin-top:5px;
}
.imgdp{
	width:74px;
	margin-right:-4px;
	background-image:url(../images/dp-bg.png);
	background-repeat:no-repeat;
	display:inline-block;
}
.imgdp a.radius img{
	cursor: pointer;
	border-radius: 30em;
	-webkit-border-radius: 30em;
	-moz-border-radius: 30em;
	-o-border-radius: 30em;
	width: 54px;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	box-shadow: 0px 0px 5px #C0C0C0;
}
.imgdp a img:hover{
	opacity: 0.7;
}
.postcontainer{
	width:500px;
	display:inline-block;
	vertical-align:top;
	padding:5px;
	border:solid 1px #F9A32F;
	min-height:60px;
}
.postcontainer_com{
	width:391px;
	display:inline-block;
	vertical-align:top;
	padding:5px;
	border:solid 1px #F9A32F;
	min-height:40px;
}
.nameplate{
	font-family:Arial, Helvetica, sans-serif;
	color:#F60;
	font-size:14px;
	font-weight:bold;
}
.nameplate span {
	font-size:12px;
	color:#999;
	font-weight:normal;
}
.update{
	width:490px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#333;
	font-weight:normal;
	font-style:normal;
}
.pluspost{
	margin-top:5px;
	width:490px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#999;
	font-weight:normal;
	font-style:normal;
}
.pluspost a{
	background-color:#2B3554;
	color:#F0F1F2;
	padding:3px;
	margin-right:1px;
	margin-left:1px;
	display:inline-block;
	margin-top:2px;
	font-size:9px;
}
.pluspost a:hover{
	background-color:#425280;
	color:#F0F1F2;
	padding:3px;
}
.deletepost a{
	background-color:#D99066;
	color:#F0F1F2;
	padding:3px;
	margin-right:1px;
	margin-left:1px;
}
.deletepost a:hover{
	background-color:#ECC7B0;
	color:#F0F1F2;
	padding:3px;
}
.comment{
	margin-top:5px;
}
.postcomment{
	margin-top:5px;
	padding:3px;
	font-family:Arial, Helvetica, sans-serif;
	width:495px;
}
#txtKeyword {
	height: 25px;
	width: 435px;
	border: 1px solid #999;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	padding: 3px;
	float:left;
	padding-right:40px;
	border:#F9A32F solid 1px;
}
#searchSubmit{
    background: transparent url("../images/paperfly-icon-com.png") no-repeat;
    width: 22px;
    height: 22px;
    border: none;
    cursor: pointer;
    margin-left: -30px; /* image is 20x20px, so leave little extra */
	margin-top:8px;
	margin-right:12px;
}
#awesomepost{
    width: auto;
	height:25px;
	background-color:#A64F1C;
	color:#F0F1F2;
	font-size:12px;
	font-weight:bold;
	padding:3px;
	cursor:pointer;
	border:none;
	display:inline-block;
}
#awesomecom{
    background: transparent url("../images/Emoticons-Cool-icon-com.png") no-repeat;
    width: 85px;
    height: 20px;
    border: none;
    cursor: pointer;
	color:#ffa854;
}
.update img {
	width:500px;
	height:auto;
	margin-top:5px;
	margin-bottom:5px;
	min-width:500px;
	max-width:500px;
}
.update object {
	width:500px;
	height:325px;;
	max-width:500px;
	min-width:500px;
}
.pluspost form{
	display:inline-block;
}
body,td,th {
	font-family: Arial, Helvetica, sans-serif;
}
#crossfade > img { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    opacity: 0;
    z-index: 0;
    -webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 30s linear infinite 0s;
    -moz-animation: imageAnimation 30s linear infinite 0s;
    -o-animation: imageAnimation 30s linear infinite 0s;
    -ms-animation: imageAnimation 30s linear infinite 0s;
    animation: imageAnimation 30s linear infinite 0s; 
}
#crossfade > img:nth-child(2)  { 
    background-image: url(images/loginbg.jpg);
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s; 
}
#crossfade > img:nth-child(3) { 
    background-image: url(images/img1.jpg);
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s; 
}
#crossfade > img:nth-child(4) { 
    background-image: url(images/img2.jpg);
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s; 
}
#crossfade > img:nth-child(5) { 
    background-image: url(images/img3.jpg);
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s; 
}

@-webkit-keyframes imageAnimation { 
    0% { opacity: 0;
    -webkit-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -webkit-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}