@charset "utf-8";
/* CSS Document */
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
#logo{
	margin-top:-10px;
	margin-left: -10px;
}
#sub{
	font-size:9px;
}
.login{
	background-image:url(../../images/bg.png);
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}
.cover{
	/*background-image:url(../../images/red.jpg);*/
	background-size: inherit;
	background-repeat:no-repeat;
	background-position:center;
	text-shadow: #000 1px 5px 40px;
}
.signup{
	background-color:#ddd;
	border: 1px solid #E3E3E3;
	border-radius: 4px;
	padding-bottom: 15px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
	color: #555;
}
.welcometext{
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
}